<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>leaflet-map demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../leaflet-map.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
    <style>
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic leaflet-map demo</h3>
      <demo-snippet>
        <template>
          <leaflet-map style="height: 400px"  longitude="-104.99404" latitude="45" zoom="12">
            <leaflet-tilelayer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" maxZoom="18">
            </leaflet-tilelayer>
            <leaflet-geojson
                data='
                {
    "type": "LineString",
    "coordinates": [[-100, 40], [-105, 45], [-110, 55]]
}
'>
            </leaflet-geojson>
          </leaflet-map>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
