<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>leaflet-map demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../leaflet-map.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
    <style>
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic leaflet-map demo</h3>
      <demo-snippet>
        <template>
          <leaflet-map style="height: 400px" zoom="10" longitude="12.5" latitude="41.9">
            <leaflet-scale-control metric position="topright">
            </leaflet-scale-control>

            <leaflet-tilelayer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" maxZoom="18">
            </leaflet-tilelayer>

            <leaflet-marker longitude="12.5" latitude="41.9" icon='{"iconUrl": "https://stendhalgame.org/images/mapmarker/dungeon.png"}'>
              Hello :)
            </leaflet-marker>
            <leaflet-layer-group>
              <leaflet-marker latitude="41.8" longitude="12.6" icon='{"iconUrl": "https://stendhalgame.org/images/mapmarker/dungeon.png"}'> </leaflet-marker>
            </leaflet-layer-group>
          </leaflet-map>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
