<link rel="import" href="../polymer/polymer-element.html">

<script>
  /**
   * `leaflet-map`
   * lmap
   *
   * @customElement
   * @polymer
   * @demo demo/index.html
   */
  class LeafletCore extends Polymer.Element {

    static get properties() {

      return {

        options: {
          type: Object,
          value: null,
          observer: '_optionsObserver'
        },

        constructorargs: {
          type: String,
          value: null,
          observer: '_construct'
        }

      };
    }

    _methodObserver(newvalue, oldvalue) {
      console.log("invocation:" + newvalue);
      if (this.obj) {

        let invocation = JSON.parse(newvalue);
        let methodName = invocation.methodName;

        let args = invocation.args;

        switch (args.length) {
          case 0: {
            this.obj[methodName]();
            break;
          }
          case 1: {
            this.obj[methodName](args[0]);
            break;
          }
          case 2: {
            this.obj[methodName](args[0], args[1]);
            break;
          }
          case 3: {
            this.obj[methodName](args[0], args[1], args[2]);
            break;
          }
          case 4: {
            this.obj[methodName](args[0], args[1], args[2], args[3]);
            break;
          }
          default: {
            console.error("args len was " + args.length);
            break;
          }
        }
      }
    }

    _optionsObserver() {
      if (this.options) {
        this._create(this.options);
        this.initialized = true;
      }
    }

  }

</script>
