<link rel="import" href="../polymer/polymer-element.html">
<!--
Scale control that shows the scale of the current center of screen in metric (m/km) and imperial (mi/ft) systems. (<a href="http://leafletjs.com/reference.html#control-scale">Leaflet Reference</a>).

##### Example

    <leaflet-scale-control> </leaflet-scale-control>
	
##### Example

    <leaflet-scale-control metric>
    </leaflet-scale-control>

@element leaflet-scale-control
@blurb Scale control that shows the scale of the current center of screen in metric (m/km) and imperial (mi/ft) systems. 
@homepage https://leaflet-extras.github.io/leaflet-map/
@demo https://leaflet-extras.github.io/leaflet-map/demo.html
-->

<dom-module id="leaflet-scale-control">
	<template>
		<style>
			:host {display: none;}
		</style>
	</template>
	<script>
	"use strict";

	class LeafletScaleControl extends Polymer.Element {

		static get is(){
		  return 'leaflet-scale-control';
		}

    static get properties() {
      return {

        container: {
          type: Object,
          observer: '_containerChanged'
        },

        options: {
          type: Object,
          value: null
        },

        opts: {
          type: String,
          value: null,
          observer: '_optsObserver'
        }

      }
    }

    _optsObserver() {
		  if (this.opts && this.container) {
		    let options = JSON.parse(this.opts);
		    this._create(options);
			}
		}

    _containerChanged() {
      if (this.options && this.container) {
        this._create(this.options);
      }
    }

		_create(options) {
      if (this.control) {
        return;
      }
      this.control = L.control.scale(options);
      this.control.addTo(this.container);
		}


		detached() {
			if (this.container && this.control) {
				this.container.removeControl(this.control);
			}
		}
	}
  window.customElements.define(LeafletScaleControl.is, LeafletScaleControl);
	</script>
</dom-module>
