<link rel="import" href="leaflet-core.html">

<dom-module id="leaflet-popup">
	<template>
		<style>
			:host {display: none;}
		</style>
	</template>
	<script>
	"use strict";

	class LeafletPopup extends LeafletDivoverlay {

      static get is(){
        return 'leaflet-popup';
      }

      static get properties() {
        return {

			  setContent: {
            type: String,
                observer: '_methodObserver'
          },

			  bringToFront: {
            type: String,
                observer: '_methodObserver'
          },

			  getLatLng: {
            type: String,
                observer: '_methodObserver'
          },

			  isOpen: {
            type: String,
                observer: '_methodObserver'
          },

			  getContent: {
            type: String,
                observer: '_methodObserver'
          },

			  update: {
            type: String,
                observer: '_methodObserver'
          },

			  openOn: {
            type: String,
                observer: '_methodObserver'
          },

			  setLatLng: {
            type: String,
                observer: '_methodObserver'
          },

			  bringToBack: {
            type: String,
                observer: '_methodObserver'
          },


          container: {
            type: Object,
            observer: '_containerChanged'
          }

        }
      }

      _containerChanged() {
        if (this.constructorargs && this.container) {
          this._construct(this.constructorargs);
        }
      }

      _construct(argString) {

        if (this.obj) {
          return;
        }

        if (!(this.constructorargs && this.container)) {
          return;
        }

        let invocation = JSON.parse(argString);
        let args = invocation.args;

        switch (args.length) {
          case 0: {
            this.obj = L.popup();
            break;
          }
          case 1: {
            this.obj = L.popup(args[0]);
            break;
          }
          case 2: {
            this.obj = L.popup(args[0], args[1]);
            break;
          }
          case 3: {
            this.obj = L.popup(args[0], args[1], args[2]);
            break;
          }
        }
        this.obj.addTo(this.container);
      }

      detached() {
		  //fixme
      }
	}
  window.customElements.define(LeafletPopup.is, LeafletPopup);
	</script>
</dom-module>
