
<dom-module id="leaflet-marker">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
  </template>
  <script>

    class LeafletMarker extends Polymer.Element {

      static get is() {
        return 'leaflet-marker';
      }

      connectedCallback() {
        super.connectedCallback();
      }

      static get properties() {
        return {
          /**
           * The `latitude` attribute sets the positions of the marker.
           *
           * @attribute latitude
           * @type number
           */
          latitude: {
            type: Number,
            value: null,
            reflectToAttribute: true,
            observer: '_positionChanged'
          },

          /**
           * The `longitude` attribute sets the positions of the marker.
           *
           * @attribute longitude
           * @type number
           */
          longitude: {
            type: Number,
            value: null,
            reflectToAttribute: true,
            observer: '_positionChanged'
          },

          container: {
            type: Object,
            reflectToAttribute: true,
            observer: '_containerChanged'
          }
        }
      }

      _positionChanged() {
        console.log("_positionChanged");
      }

      _containerChanged() {
        console.log("_containerChanged");
        if (this.container) {
          console.log("container");

          // create custom icon
          var firefoxIcon = L.icon({
            iconUrl: 'http://joshuafrazier.info/images/firefox.svg',
            iconSize: [38, 95], // size of the icon
          });

          let feature = L.marker([this.latitude, this.longitude], {
            icon: firefoxIcon
          });
          this.feature = feature;
          // this._iconChanged();

          // forward events
          // feature.on('click dblclick mousedown mouseover mouseout contextmenu dragstart drag dragend move add remove popupopen popupclose', function (e) {
          //   this.fire(e.type, e);
          // }, this);

          // this.updatePopupContent();
          this.feature.addTo(this.container);
        }
      }

    }
    window.customElements.define(LeafletMarker.is, LeafletMarker);
  </script>
</dom-module>
