<link rel="import" href="leaflet-core.html">
<link rel="import" href="leaflet-layer.html">
<link rel="import" href="leaflet-control.html">


<script>
  /**
   * `leaflet-map`
   * lmap
   *
   * @customElement
   * @polymer
   * @demo demo/index.html
   */
  class LeafletControl extends LeafletCore {
    static get properties() {

      return {

        getPosition: {
          type: String,
          observer : '_methodObserver'
        },

        getContainer: {
          type: String,
          observer : '_methodObserver'
        },

        addTo: {
          type: String,
          observer : '_methodObserver'
        },

        setPosition: {
          type: String,
          observer : '_methodObserver'
        },

        remove: {
          type: String,
          observer : '_methodObserver'
        },

      }
    }


  }

</script>
